fastapi==0.115.0
uvicorn==0.30.6
langchain==0.3.7
langchain-text-splitters==0.3.0
langchain-huggingface==0.1.0
langchain-postgres==0.0.12
sentence-transformers==3.3.1
psycopg[binary]==3.2.3
langchain-community==0.3.7
rank-bm25==0.2.2
mcp==1.9.0
langgraph==0.2.39
redis==5.0.8
livekit==1.0.0
groq==0.20.0
edge-tts==6.1.9
python-dotenv==1.0.1
langchain-groq==0.2.0
gtts==2.5.4
